html,
body {
  font-family: "Saira Condensed", sans-serif;
  margin: 0px;
  height: 100%;
  font-size: 16px;
  background-color: #c7c7c7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 15px 0;
}

h1 {
  color: whitesmoke;
  font-size: 3rem;
}
h2 {
  color: whitesmoke;
}
h3 {
  color: black;
}

h4 {
  color: whitesmoke;
}

/* 2. Subheader */
.h2-exc {
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  margin: 20px;
}
.secondary-text h2 {
  background-color: #adadad;
  text-align: center;
  padding: 1rem;
  
}
.secondary-text h1 {
  background-color: #adadad;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.secondary-text p {
  font-size: 1.7rem;
  margin: 0;
}

.hero-area {
  background: url("assets/Banin-Logo.png") center center no-repeat;
  background-color: #5ce1e6;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.inset-div {
  /* background-color: grey; */
  margin: 25px 25px 0 0;
  padding: 25px;
  width: 380px;
  height: 230px;
  padding: 4%;
}

/* 4. Three column container */

.three-wide {
  display: flex;
  justify-content: center;
}

.third-container {
  border-right: 1px solid lightgray;
  margin: 10px 0;
  padding: 2%;
  color: whitesmoke;
}

.third-container h3 {
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5CE1E6;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(26, 35, 167);
}

/* borders for nav tabs */
li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
.footer {
  display:flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 3px;
  background-color: rgb(253, 231, 216);
  color: black;
}

/* links */
.fa {
  padding: 0px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

 /* Facebook */
 .fa-instagram {
  background: #201a79;
  color: white;
}

/* Twitter */
.fa-google {
  background: #881717;
  color: white;
}
