.about-wrapper {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://media.istockphoto.com/photos/homeless-man-sitting-and-begging-for-help-picture-id1265144216?b=1&k=20&m=1265144216&s=170667a&w=0&h=iqvjGDacludOhIhoooW53OdqZVlQfMRJEuJu9jTNye0="
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;
  }