
body{
    background-color: floralwhite;
}
body, html {
    height: 100%;
}

.title{
    
}
.groupMembers{
    font-family: Gilroy-Medium;
}

h2{color: rgb(25, 94, 94);
font-size: 30px;
}


h3{color: darkcyan;
font-size: 20px;
font-style: italic;}

p{font-size: 18px;
font-weight: normal;}

.whoHero{
    height: 50%;
    background-image: url("https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.whoHeroText{
    text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}