
  {

    margin:0;
    padding:0;
    box-sizing:border-box;
  
  }
  #mainheader  {
    margin:auto;
    
  }

  .about-wrapper {
    background: url("https://images.unsplash.com/photo-1556557753-4d7eb13e06c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWluaW1hbGlzdCUyMGZsb3dlcnxlbnwwfHwwfHw%3D&w=1000&q=80");
    height: 160vh;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    position: relative;
  }

  
  .about-paragraph-title {
    margin-bottom: 15px;
    font-size:25px;
    background-color:#20C4CB;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 20px;
    
  }
  .about-paragraph {
    margin-bottom: 35px;
    font-size:20px;
  
  }
  .about-intro-text {
    position: absolute;
    width:1200px;
    height:30px;
    margin: 0% 10%;
    text-align: left;
    color:#333;
  }
  .about-intro-text h1 {
    text-align: center;
    margin-bottom:30px;
    font-size: 50px;
  }

 

body{
    background-color: floralwhite;
    font-family: "Saira Condensed", sans-serif;
}

body, html {
    height: 100%;
}


.groupMembers{
    font-family: Gilroy-Medium;
    display: block;
    padding-block: 50px;
    background-color: floralwhite;
}
.memberName{
    font-size: large;
    display: block;
    margin-bottom: 1em;
    margin-right: 5em;
    margin-left: 5em;
    text-align:center;
    color:indianred;
}
.title{
    font-size: medium;
    display: block;
    margin-right: 5em;
    margin-left: 5em;
    text-align:center;
}

h2{color: rgb(25, 94, 94);
font-size: 30px;
}


h3{color: darkcyan;
font-size: 20px;
font-style: italic;}

p{font-size: 18px;
font-weight: normal;}

.whoHero{
    height: 50%;
    background-image: url("https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.whoHeroText{
    text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
* {
    box-sizing: border-box;
  }

  /* input text */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: rgb(26, 35, 167);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  /* contact section */
  .container {
    border-radius: 5px;
    background-color: #f5f5f5e3;
    padding: 10px;
  }

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  /* clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout make the two columns stack on top of each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /* Nav */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #20C4CB;
  }

  li {
    float: left;
  }

  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(26, 35, 167);
  }

  /* borders for nav tabs */
  li {
    border-right: 1px solid #bbb;
  }

  li:last-child {
    border-right: none;
  }

  .footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(253, 231, 216);
    color: black;
  }

  /* links */
  .fa {
    padding: 0px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

   /* Facebook */
   .fa-instagram {
    background: #201a79;
    color: white;
  }

  /* Twitter */
  .fa-google {
    background: #881717;
    color: white;
  }

  .h2WhoWeAre {
    margin-bottom: 15px;
    font-size:25px;
    background-color:#20C4CB;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
    
  }

